


<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Git Configurations</h2>
        </div>
        <p>
    <h2>Git Management</h2>
    <p>
        The Git Management extension allows you to export content from CloudBolt
        to a Git Repo. This extension is designed to work with GitHub and
        GitLab.
    </p>
    <h3>Initial Setup</h3>
    <p>
    1. Gather a Personal Access Token for your user account from GitHub or
    GitLab. The token must have the appropriate permissions to read the Git repo
    and create commits in the Git Repo.<br>
    &nbsp;&nbsp;&nbsp;&nbsp; GitHub required permissions: read, write on the repo in question <br>
    &nbsp;&nbsp;&nbsp;&nbsp; GitLab required permissions: api, read_api
    </p>

    2. Create a Git Management XUI configuration for each Git Repo you want to
    export content to. The name of the configuration will be used to identify
    the configuration in the Git Management XUI.
</p>
    </div>
</div>